.bluerple, h1, h2{
    color: #2a263a;
}
.bluerplebg{
    background-color: #2a263a;
}
.waveblue, h3, h4, h5 ,h6{
    color:#5699d2;
}
.wavebluebg{
    background-color: #5699d2;
}
.wavebluebg h4, .wavebluebg p{
    color: #fff;
}
.enesmapo div div{
    margin-top: 1rem;
}
a.nav-link i{
    font-size: 1.5rem;
}
.ene-title{
    padding:1.5rem;
}
.ene-title h1{
    color: #fff;
    text-align: center;
}
.news{
    text-align: center;
}
.news img{
    margin-bottom:1rem;
}
.news i{
    color: #666;
    font-size:5rem;
}
.news h4, .news p{
    text-align: left;
}
footer{
    color: #fff;
    background-color: #666;
    padding:2rem 1rem .3rem 1rem;
}
footer ul{
    list-style: none;
}
footer ul li a{
    color: #fff;
}
.enesmapo p{
    text-align: justify;
}